{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'record_add' %}">Добавить запись</a>
    </li>
{% endblock %}


{% block content %}
    <br>
    <form method="get">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="query" class="form-control">
            <div class="form-text">поиск записи по имени автора</div>
        </div>
        <button type="submit" class="btn btn-primary">Искать</button>
    </form>
    <h1>Гостевая книга</h1>
    {% for record in records %}
        <br>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ record.author.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">({{ record.email }})</h6>
                <pre><p class="card-text">{{ record.text.title }}</p></pre>
                <a href="{% url 'record_update' record.pk %}" class="card-link">Редактировать</a>
                <a href="{% url 'record_delete' record.pk %}" class="card-link">Удалить</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
